.footer{
    height: max-content;
    width: 100vw;
    background: var(--primary);
    padding: 20px 60px;
    color: var(--background);
}

.footer.hide{
    display: none;
}

.footer h2{
    font-size: 14px;
    font-weight: 700;
}

.footer a,
.footer p{
    font-size: 14px;
    font-weight: 400;
    color: var(--background);
}

.footerTop{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footerForm{
    height: max-content;
    width: 300px;
}

.footerFormTop{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerFormTop p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footerLogo{
    position: relative;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.logo{
    position: absolute;
    object-fit: cover;
}

.footerFormInputs{
    position: relative;
    height: max-content;
    width: 100%;
}

.footerInput{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid var(--grey);
    padding: 0 20px;
    background: transparent;
    outline: none;
}

.footerFormInputs button{
    position: absolute;
    top: 0;
    left: 200px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 50px;
    background: var(--orange);
    color: var(--background);
}

.footerTopMiddle{
    height: max-content;
    width: max-content;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.footerLinkContainer{
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footerLinkContainer h2{
    margin-bottom: 10px;
}

.footerSocialContainer{
    height: max-content;
    width: max-content;
}

.footerTopLeft h2{
    margin-bottom: 20px;
}

.footerTopLeft p{
    margin-bottom: 10px;
}

.footerSocial {
    height: max-content;
    width: max-content;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.footerSocial i{
    font-size: 20px;
}

.footerBottom{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.footerBottomRight{
    height: max-content;
    width: max-content;
}

.footerBottomRight h2{
    margin-bottom: 20px;
}

.footerBottomImgs{
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    background: var(--background);
}

.footerBottomImgs img{
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 767px){
    .footer {
        padding: 20px 20px;
    }
    .footerTop {
        flex-direction: column;
    }
    .footerForm {
        width: 100%;
        margin-bottom: 20px;
    }
    .footerFormInputs button {
        left: 70%;
    }
    .footerTopMiddle {
        flex-direction: column;
    }
    .footerBottom {
        flex-direction: column;
    }
    .footerBottomRight {
        margin-top: 20px;
    }
}