.header {
    height: 75px;
    width: 100vw;
}

.header.hide{
    display: none;
}

.headerTop{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.logo{
    object-fit: cover;
    position: absolute;
}

.searchForm{
    position: relative;
    height: max-content;
    width: max-content;
}

.searchInput{
    height: 45px;
    width: 450px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    outline: none;
    padding: 0 40px;
}

.searchForm button{
    position: absolute;
    top: 0;
    left: 400px;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: transparent;
}

.searchForm button i{
    font-size: 20px;
    color: var(--grey);
    cursor: pointer;
}

.navList{
    height: max-content;
    width: max-content;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navItem{
    height: max-content;
    width: max-content;
}

.navItem a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.cta{
    padding: 5px 10px;
    background: var(--primary);
    border-radius: 100px;
    font-weight: 700;
    color: var(--background);
}

.shoppingCartImg{
    position: relative;
    height: max-content;
    width: max-content;
}

.shoppingCartImg p{
    position: absolute;
    top: -15px;
    left: 90%;
    font-size: 11px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: var(--danger);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
}