.header {
    height: 150px;
    width: 100vw;
}

.header.cart{
    height: 75px;
}

.header.hide{
    display: none;
}

.headerTop{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.logo{
    object-fit: cover;
    position: absolute;
}

.searchForm{
    position: relative;
    height: max-content;
    width: max-content;
}

.searchInput{
    height: 45px;
    width: 450px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    outline: none;
    padding: 0 40px;
}

.searchForm button{
    position: absolute;
    top: 0;
    left: 400px;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: transparent;
}

.searchForm button i{
    font-size: 20px;
    color: var(--grey);
    cursor: pointer;
}

.navList{
    height: max-content;
    width: max-content;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navItem{
    height: max-content;
    width: max-content;
}

.navItem a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.cta{
    padding: 5px 10px;
    background: var(--primary);
    border-radius: 100px;
    font-weight: 700;
    color: var(--background);
}

.shoppingCartImg{
    position: relative;
    height: max-content;
    width: max-content;
}

.shoppingCartImg p{
    position: absolute;
    top: -15px;
    left: 90%;
    font-size: 11px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: var(--danger);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
}

.activeUser.hide,
.visitor.hide,
.headerBottom.hide{
    display: none;
}

.userActive{
    cursor: pointer;
}

.headerBottom{
    height: 50%;
    width: 100%;
    background: var(--lightGrey);
    padding: 0 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:  20px;
}

.filterForm{
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
}

.filterOptions{
    height: 40px;
    width: max-content;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid var(--grey);
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.filterOptions i{
    margin-left: 20px;
}

.filterForm label{
    color: var(--grey);
}

.btnNavList{
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.btnNavItem button{
    background: transparent;
    border: none;
    font-size: 16px;
}

.filterContainer{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

.filterContainer.active{
    display: flex;
}

.filterContainer::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--text);
    opacity: 0.5;
}

.altBack{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--text);
    opacity: 0.5;
    z-index: 200;
    cursor: pointer;
}

.filterContent{
    position: relative;
    height: 60vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.filterContentLeft{
    height: 100%;
    width: 20%;
    background: var(--background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.filterContentRight{
    height: 100%;
    width: 79%;
    background: var(--background);
    border-radius: 10px;
    display: none;
}

.filterContentRight.active{
    display: block;
}

.filterContentLeftBtn{
    height: max-content;
    width: 100%;
    padding: 12px 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
}

.filterContentLeftBtn:hover{
    background: var(--primary);
    color: var(--background);
}

.filterContentRightTop{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.filterContentRightTop button{
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
}

.filterContentRightBottom{
    height: calc(100% - 40px);
    width: 100%;
}

.filterContentNavigations{
    height: max-content;
    width: 100%;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
}

.filterContentNavigations.active{
    display: grid;
}

.filterContentNav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.filterContentNav h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.filterContentNavigationList{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.filterContentNavigationList a{
    color: var(--grey);
    font-size: 14px;
}