.headerBottom{
    height: 75;
    width: 100vw;
    background: var(--lightGrey);
    padding: 0 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:  20px;
}

.filterForm{
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
}

.filterOptions{
    height: 40px;
    width: max-content;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid var(--grey);
    outline: none;
    font-size: 16px;
}

.filterForm label{
    color: var(--grey);
}

.btnNavList{
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.btnNavItem button{
    background: transparent;
    border: none;
    font-size: 16px;
}