.page{
  height: max-content;
  width: 100vw;
}

.pageLocation{
  height: max-content;
  width: max-content;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pageLocation p{
  font-size: 11px;
  color: var(--grey);
}

.pageLocation:last-child{
  padding: 0;
}

.pageLocation a,
.pageLocation i{
  font-size: 16px;
  color: var(--grey);
}

.header{
  height: max-content;
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  background: var(--primary);
}

.header h2{
  font-size: 20px;
  font-weight: 400;
  color: var(--background);
}

.products{
  height: max-content;
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.productsLeft{
  height: max-content;
  width: 25%;
  margin-top: 15px;
  padding: 0 20px 0 60px;
  border-radius: 10px;
}

.productsRight{
  height: max-content;
  width: 75%;
  padding-right: 80px;
}

.productsRightTop{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}

.productsLinks{
  height: 70px;
  width: 100%;
  background: var(--lightGrey);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  border-radius: 10px;
}

.productsLinks button{
  background: transparent;
  border: none;
  color: text;
  cursor: pointer;
  font-size: 17px;
}

.productsRightBottom{
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 1fr));
  background-color: var(--lightGrey);
  padding: 20px 20px;
  row-gap: 10px;
  justify-items: center;
  border-radius: 10px;
}

.productCard{
  position: relative;
  height: max-content;
  width: 175px;
  background-color: var(--background);
  border-radius: 10px;
}

.productCard h2{
  font-size: 15px;
  font-weight: 600;
}

.productCard p{
  font-size: 14px;
  color: var(--grey);
}

.productCardTop{
  position: relative;
  height: 120px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.productCardBottom{
  padding: 10px 5px 5px 5px;
  height: max-content;
  width: 100%;
}

.productImg{
  position: absolute;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.productCartPriceContainer,
.productCardReview{
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.productCardName{
  height: 40px;
  width: 100%;
  margin-bottom: 7px;
}

.productCardReviewItem{
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 5px;
}

.productCardStars{
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
}

.productCardStars i{
  font-size:11px;
  color: var(--orange);
}

.productCardReviewItem p{
  font-size: 9px;
}

.productCardReview a{
  font-size: 12px;
  border: 1px solid var(--primary);
  padding: 5px 10px;
  border-radius: 50px;
  color: var(--primary);
}

.otherCategories{
  height: max-content;
  width: 100%;
  padding: 0 80px;
}

.sigleCategory{
  height: max-content;
  width: 100%;
  margin-bottom: 50px;
}

.otherCategoriesHeader{
  height: max-content;
  width: 100%;
  background: var(--danger);
  padding: 5px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.recentCategoriesHeader{
  height: max-content;
  width: 100%;
  background: var(--lemon);
  padding: 5px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.otherCategoriesHeader h2,
.recentCategoriesHeader h2{
  font-size: 20px;
  color: var(--background);
  font-weight: 500;
}

.categoryContent{
  height: 250px;
  width: 100%;
  background: var(--lightGrey);
  padding: 0 20px;
  overflow-y: auto;
}

.ccContainer{
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advertContainer{
  height: 300px;
  width: 100vw;
  padding: 0 80px;
  margin-bottom: 50px;
}

.adverContent{
  position: relative;
  height: 100%;
  width: 100%;
}

.advertImg{
  position: absolute;
  object-fit: fill;
}

/*Fillter Sections*/

.productsFilterContainer{
  height: max-content;
  width: 100%;
  padding: 20px 20px;
  background: var(--lightGrey);
  border-radius: 10px;
}

.productsFilterContainer h2{
  font-size: 20px;
  margin-bottom: 20px;
}

.priceRangeForm{
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.priceRangeForm input{
  width: 100%;
  background: var(--orange);
  height: 1px;
}

.rangeContainer{
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.rangeContainer input{
  height: 30px;
  width: 80px;
  border: 1px solid var(--grey);
  background: transparent;
  outline: none;
  border-radius: 50px;
  padding: 0 10px;
  font-weight: 500;
}

.line{
  height: 1px;
  width: 50px;
  background: var(--grey);
}

.priceRangeForm input[type=range] {
  -webkit-appearance: none; /* remove default styling */
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: var(--orange); /* change track color */
  outline: none;
  margin-bottom: 20px;
}

/* Chrome, Safari, Edge */
.priceRangeForm input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--orange); /* thumb color */
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

/* Firefox */
.priceRangeForm input[type=range]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--orange);
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

/* Firefox track */
.priceRangeForm input[type=range]::-moz-range-track {
  height: 6px;
  border-radius: 5px;
  background: var(--orange);
}

.sliderWrapper {
  position: relative;
  width: 100%;
}

.range {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 2px;
  background: transparent; /* remove default background */
  pointer-events: none; /* so only thumbs are clickable */
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: auto;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--orange);
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.range::-moz-range-thumb {
  pointer-events: auto;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--orange);
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}



.categoryFilterContainer{
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 50px;
}

.filterSearch{
  height: max-content;
  width: 100%;
}

.filterSearch input{
  height: 40px;
  width: 100%;
  border-radius: 50px;
  padding: 0 20px;
  outline: none;
  border: 1px solid var(--grey);
  background: transparent;
}

.categoryFilterLabel{
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.categoryFilterLabel input{
  height: 20px;
  width: 20px;
}

.categoryFilterLabel label{
  font-size: 17px;
  color: var(--grey);
}

.hide{
  display: none;
}

.catHeading.active{
  color: var(--primary);
  font-weight: 500;
}

.navMenuBottomLine.active{
  height: 2px;
  width: 100%;
  background: var(--primary);
}

.navMenuMainContentContainer{
  margin-left: 10px;
}

.paginationContainer{
  height: max-content;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lightGrey);
  padding: 5px 0;
}

.pagination{
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.btnLi,
.pageLi{
  height: max-content;
  width: max-content;
}

.btnLi button{
  padding: 10px;
  background: var(--primary);
  color: var(--background);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  cursor: pointer;
}

.pageLi button{
  height: 25px;
  width: 25px;
  background: transparent;
  border: 1px solid var(--grey);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pageLi button.currentPage{
  background: var(--primary);
  color: var(--background);
  border: none;
}

.filterBtnNew,
.productsLeftCancelBtn{
  display: none;
}

@media only screen and (max-width: 1280px) and (min-width: 1001px) {
  .productsLeft {
    padding: 0 20px 0 20px;
  }
  .productsRight {
    padding-right: 40px;
  }
  .navMenuMainContentContainer a {
    font-size: 11px;
  }
  .productsRightBottom {
    padding: 20px 5px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
  .productsLeft {
    padding: 0 10px;
    margin-top: 65px;
  }
  .productsRight {
    padding-right: 10px;
  }
  .productsRightTop {
    height: 65px;
  }
  .productsLinks {
    height: 50px;
  }
  .navMenuMainContentContainer {
      margin-left: 0;
  }
  .productsFilterContainer h2 {
    font-size: 16px;
  }
  .productsFilterContainer {
    padding: 80px 10px;
  }
  .rangeContainer input {
    width: 70px;
    height: 30px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 14px;
  }
  .otherCategories {
    padding: 0 10px;
  }
  .ccContainer {
    width: max-content;
  }
  .advertContainer {
    padding: 0 10px;
  }
  .navMenuMainContentContainer a {
    font-size: 11px;
  }
  .productsRightBottom {
    grid-template-columns: repeat(3, minmax(160px, 1fr));
    padding: 80px 5px;
  }
}

@media only screen and (max-width: 767px) {
  .productsLeft {
      display: none;
  }
  .productsRight {
    width: 100%;
    padding: 0 5px;
  }
  .productsRightTop {
    height: max-content;
  }
  .productsLinks {
    height: 50px;
  }
  .navMenuMainContentContainer {
      margin-left: 0;
      width: max-content;
  }
  .productsRightBottom {
    justify-items: center;
    padding: 20px;
  }
  .productCard {
    width: 160px;
  }
  .productsLinks {
    height: max-content;
    align-items: flex-start;
    padding: 10px;
    width: 70%;
    overflow-x: auto;
  }
  .productsLinks a{
    font-size: 11px;
    display: flex;
  }
  .navMenuLinkMainContainer{
    height: max-content;
    width: max-content;
  }
  .pageLocation {
    padding: 0 10px;
  }
  .products {
    margin-bottom: 50px;
  }
  .otherCategories {
    padding: 0 10px;
  }
  .ccContainer {
    width: max-content;
    gap: 10px;
  }
  .advertContainer {
    padding: 0 10px;
  }
  .filterBtnNew{
    display: block;
  }
  .productsRightTop {
    align-items: flex-start;
    background: var(--lightGrey);
    justify-content: space-between;
    margin: 5px 0;
    border-radius: 5px;
  }
  .filterBtnNew{
    margin: 10px;
    border: none;
    font-size: 16px;
    background: transparent;
  }
  .productsLeft.active{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: var(--lightGrey);
    margin-top: 0;
    overflow-y: auto;
    padding: 0 20px;
  }
  .productsFilterContainer {
    padding: 20px 20px;
  }
  .productsLeftCancelBtn{
    padding: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: block;
    font-size: 20px;
  }
  .productsRightBottom {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    padding: 20px 10px;
  }
}