
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --background: #ffffff;
    --lightGrey: #e6e6e6;
    --grey: #b1b2b2;
    --text: #030708;
    --lighterText: #807e7e;
    --primary: #0c0483f5;
    --danger: #f00909f5;
    --orange: #eea811;
    --stars: #fffb00;
    --green: #048d04f5;
    --lemon: #4fc9f0;
    --lighterText: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: max-content;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background: #ffffff;
}

p {
    font-size: 18px;
    font-weight: 300;
}

h2 {
    font-size: 45px;
    font-weight: 700;
}

h5 {
    font-size: 17px;
    font-weight: 400;
}

.logoLink{
    position: relative;
    height: 50px;
    width: 50px;
}

a{
    font-size: 16px;
    text-decoration: none;
    color: var(--text);
}


input{
    font-size: 15px;
    font-weight: 300;
}

.productCarddetail{
    position: absolute;
    top: 10px;
    left: 70%;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 15px;
}

.productCarddetail.sale{
    background: var(--green);
    color: var(--background);
}

.productCarddetail.hot{
    background: var(--danger);
    color: var(--background);
}

.productSize{
    padding: 10px 5px;
    border: 1px solid var(--grey);
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.productSize.out{
    border: 1px solid var(--lightGrey);
}

.productSize.active{
    border: none;
    background: var(--orange);
    color: var(--background);
}

.reduceBtn,
.increaseBtn{
    background: transparent;
    color: var(--text);
    transition: 0.3s ease-in-out;
}

.reduceBtn.active,
.increaseBtn.active{
    background: var(--text);
    color: var(--background);
    transition: 0.3s ease-in-out;
}

.priceInput{
    padding: 15px 20px;
    height: max-content;
    width: 100px;
    border: 1px solid var(--text);
    border-radius: 5px;
    font-size: 20px;
    color: var(--text);
}

.reviewStars {
    display: flex;
    align-items: center;
    gap: 1px;
}

.reviewStars i{
    color: var(--orange);
    font-size: 5px;
}

.reviewStars i.thirdStar{
    color: var(--orange);
    font-size: 10px;
}

.recentlyViewedContainer,
.similarProductsContainer{
    height: max-content;
    width: 100%;
    padding: 0 80px;
}

.similarHeader{
    height: max-content;
    width: 100%;
    background: var(--orange);
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px 20px;
}

.similarHeader h2{
  font-size: 25px;
  color: var(--background);
  font-weight: 700;
}

#login{
    height: max-content;
    width: 100vw;
    padding: 10px 0;
}

#header.hide,
#footer.hide{
    display: none;
}

@media only screen and (max-width: 1280px) and (min-width: 1001px){
    .recentlyViewedContainer, 
    .similarProductsContainer {
        padding: 0;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 768px){
    .recentlyViewedContainer, .similarProductsContainer {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 767px){
    .recentlyViewedContainer, 
    .similarProductsContainer {
        padding: 0 10px;
    }
}

