@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root{
    --background: #ffffff;
    --lightGrey: #e6e6e6;
    --grey: #b1b2b2;
    --text: #030708;
    --primary: #0c0483f5;
    --danger: #f00909f5;
    --orange: #eea811;
    --stars: #fffb00;
    --green: #0df20df5;
    --lemon: #4fc9f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: max-content;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background: #ffffff;
}

p {
    font-size: 18px;
    font-weight: 300;
}

h2 {
    font-size: 45px;
    font-weight: 700;
}

h5 {
    font-size: 17px;
    font-weight: 400;
}

.logoLink{
    position: relative;
    height: 50px;
    width: 50px;
}

a{
    font-size: 16px;
    text-decoration: none;
    color: var(--text);
}


input{
    font-size: 15px;
    font-weight: 300;
    color: var(--grey);
}

.productCarddetail{
    position: absolute;
    top: 10px;
    left: 70%;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 15px;
}

.productCarddetail.sale{
    background: var(--green);
    color: var(--background);
}

.productCarddetail.hot{
    background: var(--danger);
    color: var(--background);
}